.what-section {
  margin-bottom: 120px;

  &__cards {

    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    .card {

      background-color: #ffffff;
      box-shadow: 0 20px 60px 0 rgba(49, 69, 244, 0.1);
      flex: 0 1 540px;
      display: flex;
      align-items: center;

      &__img {
        width: 80px;
        height: 80px;
      }

      &__text {
        font-family: Muli-SemiBold;
        font-size: 18px;
        line-height: 40px;
        color: #000000;
        margin-left: 20px;
      }
    }
  }

}