@font-face {
  font-family: Muli-Bold;
  src: url("../fonts/Muli-Bold.ttf");
}
@font-face {
  font-family: Muli-SemiBold;
  src: url("../fonts/Muli-SemiBold.ttf");
}
@font-face {
  font-family: Muli-Regular;
  src: url("../fonts/Muli-Regular.ttf");
}
.hero-section {
  display: none;
}

.features-section {
  display: none;
}

.whois-section {
  display: none;
}

.what-section {
  display: none;
}

body, html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

h1, h2, h3.h4 {
  font-weight: normal;
}

.wrapper {
  background: url("../assets/background-decor.svg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  padding: 16px 32px;
  display: inline-block;
  font-family: Muli-Bold;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #1968fc;
  text-shadow: 0 0px 4px rgba(232, 240, 255, 0.4);
  box-shadow: 0 10px 40px 0 rgba(25, 104, 252, 0.3);
  box-sizing: border-box;
  border: 0;
  outline: 0;
}
.button:hover, .button:focus {
  opacity: 0.8;
}

.title {
  font-family: Muli-Regular;
  font-size: 30px;
  line-height: 60px;
  color: #112233;
  position: relative;
  margin-bottom: 60px;
}
.title::before {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 2px;
  left: -40px;
  bottom: -10px;
  background-color: #1968fc;
  box-shadow: 0 2px 0 0 #d1e1fe;
}

.header {
  padding: 30px 0;
}
.header .navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar__item {
  font-family: Muli-Bold;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  padding: 16px;
  min-width: 120px;
  border-top: 4px solid transparent;
  box-sizing: border-box;
  display: inline-block;
}
.header .navbar__item:hover, .header .navbar__item:focus {
  border-color: #1968fc;
}
.hero-section {
  margin-bottom: 120px;
}
.hero-section__header {
  background: url("../assets/illustration-main.png") no-repeat;
  background-position: 100% 350%;
  padding: 120px 0;
}
.hero-section__headline {
  max-width: 600px;
  margin: 0px;
  font-family: Muli-SemiBold;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 1px;
  color: #11223f;
}
.hero-section__subheadline {
  max-width: 600px;
  font-family: Muli-Regular;
  font-size: 20px;
  line-height: 40px;
  color: #11223f;
}
.hero-section__button {
  margin-top: 20px;
  width: 300px;
}
.hero-section__testimonials {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.hero-section__testimonials .testimonial {
  flex: 0 1 540px;
  background-color: #ffffff;
  box-shadow: 0 20px 60px 0 rgba(25, 104, 252, 0.1);
  padding: 40px;
}
.hero-section__testimonials .testimonial__header {
  display: flex;
  align-items: center;
  background: url("../assets/illustration-quote.png") no-repeat;
  background-position: top right;
}
.hero-section__testimonials .testimonial__img {
  width: 100px;
  height: 100px;
}
.hero-section__testimonials .testimonial__name {
  margin-left: 20px;
  font-family: Muli-SemiBold;
  font-size: 18px;
  line-height: 30px;
  color: #11223f;
}
.hero-section__testimonials .testimonial__position {
  margin-left: 20px;
  font-family: Muli-SemiBold;
  font-size: 14px;
  line-height: 30px;
  color: #1967fa;
}
.hero-section__testimonials .testimonial__text {
  margin-top: 40px;
  font-family: Muli-Regular;
  font-size: 16px;
  line-height: 30px;
  color: #11223f;
}

.features-section {
  margin-bottom: 120px;
}
.features-section__cards {
  display: flex;
  justify-content: space-between;
}
.features-section__cards .card:nth-child(2) {
  margin-top: 40px;
}
.features-section__cards .card:nth-child(3) {
  margin-top: 80px;
}
.features-section__cards .card {
  flex: 0 1 320px;
  height: 290px;
  background-color: #ffffff;
  box-shadow: 0 20px 60px 0 rgba(49, 69, 244, 0.1);
}
.features-section__cards .card__header {
  background-color: #f3f7ff;
  display: flex;
  align-items: center;
  gap: 20px;
}
.features-section__cards .card__img {
  width: 120px;
  height: 120px;
}
.features-section__cards .card__title {
  font-family: Muli-SemiBold;
  font-size: 20px;
  line-height: 30px;
  color: #112233;
  flex: 0 1 160px;
}
.features-section__cards .card__text {
  font-family: Muli-Regular;
  font-size: 16px;
  line-height: 30px;
  color: #112233;
  margin: 40px auto;
  max-width: 240px;
}

.whois-section {
  margin-bottom: 120px;
}
.whois-section__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.whois-section__cards .card {
  background-color: #ffffff;
  box-shadow: 0 20px 60px 0 rgba(49, 69, 244, 0.1);
  flex: 0 1 360px;
  padding: 20px;
  box-sizing: border-box;
}
.whois-section__cards .card__title {
  font-family: Muli-Bold;
  font-size: 20px;
  line-height: 40px;
  color: #1967fa;
  margin-bottom: 20px;
}
.whois-section__cards .card__text {
  font-family: Muli-Regular;
  font-size: 16px;
  line-height: 30px;
  color: #112233;
}

.what-section {
  margin-bottom: 120px;
}
.what-section__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.what-section__cards .card {
  background-color: #ffffff;
  box-shadow: 0 20px 60px 0 rgba(49, 69, 244, 0.1);
  flex: 0 1 540px;
  display: flex;
  align-items: center;
}
.what-section__cards .card__img {
  width: 80px;
  height: 80px;
}
.what-section__cards .card__text {
  font-family: Muli-SemiBold;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  margin-left: 20px;
}

.dont-section {
  padding: 80px 0;
  background-color: #1968fc;
  background-image: url("../assets/illustration-whiteglove.png");
  background-repeat: no-repeat;
  background-position: top right;
}
.dont-section .title {
  color: #ffffff;
}
.dont-section .title::before {
  background-color: #ffffff;
}
.dont-section__text {
  font-family: Muli-Regular;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
  max-width: 640px;
  margin-bottom: 40px;
}
.dont-section__button {
  background-color: #ffffff;
  color: #1968fc;
  box-shadow: 4px 4px 20px 0 rgba(255, 255, 255, 0.4);
  width: 100%;
  max-width: 320px;
}

.contact-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 60px;
}
.contact-section .container {
  max-width: 560px;
  width: 100%;
  margin: 0;
}
.contact-section__form .contact-form__input, .contact-section__form .contact-form__textarea {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.53px;
  color: #141720;
  border: 0;
  outline: 0;
  display: block;
  border-bottom: 2px solid #1968fc;
  padding: 16px 0;
  margin-bottom: 30px;
  width: 100%;
  max-width: 450px;
  float: right;
}
.contact-section__form .contact-form__input::placeholder, .contact-section__form .contact-form__textarea::placeholder {
  color: #141720;
}
.contact-section__form .contact-form__textarea {
  resize: none;
}
.contact-section__form .contact-form__button {
  float: right;
  max-width: 320px;
  width: 100%;
}
.contact-section__map {
  max-width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
